body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #ccc;
  padding: 10px;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

.product-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 95%;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card img {
  width: 100%;
  border-radius: 5px;
}
.card-title {
  font-size: 20px;
  margin-top: 10px;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn.buy {
  background-color: #4caf50;
  color: white;
}
.btn.add {
  background-color: #008cba;
  color: white;
}
.btn:hover {
  background-color: #ddd;
}

.favorite-button {
  color: black; /* Default color */
  background-color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.favorite-button.favorite {
  color:white; /* Color when favorited */
  background-color: red;
}