#orders-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.order {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.order p {
  margin: 5px 0;
}

.order ul {
  padding: 0;
  margin-top: 10px;
}

.order li {
  list-style-type: none;
  margin-bottom: 10px;
}

.product-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-image {
  max-width: 100px;
  height: auto;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product-name {
  font-weight: bold;
  margin: 0;
}

.product-price {
  margin: 0;
}

.product-quantity {
  margin: 0;
}
